
<html>
<link rel="stylesheet" href="public/css/login.css">
<head>
    <title> {{ Titulo }} </title>
</head>
<body>
<div id="main">
    <ul>
        <li><a href="#">Admin Panel</a></li>
        <li><a href="#">Home</a></li>
        <li style="float:right"><a class="active" href="app/Pages/logout.php">Logout</a></li>
    </ul>
        {{ VariavelTwig }}
    <h3> Area Principal você está logado como usuário {{ nomeTwig }} </h3>
</div>
</body>

</html>

