
<h1> Antes do meu bloco com o conteudo </h1>
{% block blocoTexto%}

    <h2> Esté bloco é de outro arquivo</h2>
    <ul>
        <li> Linha 1</li>
        <li> Linha 2</li>
        <li> Linha 3</li>
        <li> Linha 4</li>
        <li> Linha 5</li>
    </ul>

<h2> Fim bloco de outro arquivo</h2>
    <hr>

{% endblock %}